<div class="container d-flex justify-content-center">
  <div class="feedback-form">
    <h2 class="header">Have you changed your mind ?</h2>
    <div>
      <%= simple_form_for [@list, @bookmark], html: { data: { turbo: false } } do |f| %>
        <%= f.input :comment, class:"mb-3 gorm-group" %>
        <%= f.button :submit, class:"text-center button btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
