<h1>Choose your films</h1>

<%= simple_form_for [@list, @bookmark], html: { data: { turbo: false } } do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
