// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "card-category";
@import "card-product";
@import "btn-ghost";
@import "cards";
@import "form";

body{
  font-family: 'teko';
  background: linear-gradient(
    to right,
    #000428,#02315a
  );
}

.btn{
  letter-spacing: 3px;
}
